.abstractform-container{
  width: 100%;
  margin-top: 10%;
}
.das-display-report-heading {
  background-color: #db815d;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 50%;
  height: 7vh;
}


.das-display-abstract-report{
  background-color: #db815d;
  display:inline-flex;
  padding: 50px;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  padding: 10px;
  text-align: center;
 margin-left: 25%;
}


.das-display-abstract-report {
  width: 50%;
}

.das-display-abstract-report th, .das-display-abstract-report td {
  padding: 10px;
}

.das-display-abstract-report th {
  background-color: #c58c8c;
  text-align: center;
}

.das-display-abstract-report td {
  text-align: left;
}

.das-display-table{
  text-align: center;
}
.das-display-table
{
  width:50%;
}
.das-display-heading-table{
  background-color: #9ab4cf;
}
.das-display-header-table{
  background-color: #7fb9f7;
  width:100%;
}























/* From the below css Done by Shravankumar */

/* Add button css */
.Abstract-report-add-button {
  background-color: #003f7f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-left: 70%;
}

.Abstract-report-add-button:hover {
  background-color:  #2439f1; /* Color when the button is clicked */
}


/* delete button Css */

.Abstract-report-delete-button {
  background-color: #944a52;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: right;
  transition: background-color 0.3s ease;
  margin-left: 70%;
}

.Abstract-report-delete-button:hover {
  background-color:  #bd2130;
}

.Abstract-report-delete-button:active {
  background-color:  #8a4f55; /* Change this to the color you want when the button is clicked */
}


.Abstract-report-submit-button {
  background-color: #217feb; /* Customize the background color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
 margin-left: 45%;
}

.Abstract-report-submit-button:hover {
  background-color: #218838;
}

.Abstract-report-submit-button:active {
  background-color: #1e7e34;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.Abstract-report-submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(129, 195, 240, 0.5);
}


/* Add button css */
.Abstract-report-add-button-2 {
  background-color: #003f7f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-left: 45%;
}

.Abstract-report-add-button-2:hover {
  background-color:  #2439f1; /* Color when the button is clicked */
}


.Abstract-report-delete-button-2{
  background-color: #944a52;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: right;
  transition: background-color 0.3s ease;
  margin-left: 45%;
}

.Abstract-report-delete-button-2:hover {
  background-color:  #bd2130;
}

.Abstract-report-delete-button-2:active {
  background-color:  #8a4f55; /* Change this to the color you want when the button is clicked */
}


/* Style for the ave button */
.das-report-general-info-saave-button {
  background-color: #28a745; 
  border-color: #28a745;    
  color: white;             
  font-size: 18px;        
  border-radius: 5px;        
  transition: background-color 0.3s, border-color 0.3s; 
  margin-right: 10px;   
  margin-left: 428px;     
}
.das-report-general-info-saave-button:hover {
  background-color: #218838; 
  border-color: #1e7e34;
}



/* Style for the Clear button */
.das-report-general-info-clear-button {
  background-color: #dc3545; 
  border-color: #dc3545;
  color: white;             
  font-size: 18px;       
  border-radius: 5px;       
  transition: background-color 0.3s, border-color 0.3s; 
 
}

.das-report-general-info-clear-button:hover {
  background-color: #c82333; 
  border-color: #bd2130;
}


/* Fromt the active judgment table css */
/* Style for the ave button */
.das-report-general-info-saave-button-2 {
  background-color: #28a745; 
  border-color: #28a745;    
  color: white;             
  font-size: 18px;        
  border-radius: 5px;        
  transition: background-color 0.3s, border-color 0.3s; 
  margin-right: 10px;   
  margin-left: -700px;     
}
.das-report-general-info-saave-button-2:hover {
  background-color: #218838; 
  border-color: #1e7e34;
}



/* Style for the Clear button */
.das-report-general-info-clear-button-2 {
  background-color: #dc3545; 
  border-color: #dc3545;
  color: white;             
  font-size: 18px;       
  border-radius: 5px;       
  transition: background-color 0.3s, border-color 0.3s; 
 
}

.das-report-general-info-clear-button-2:hover {
  background-color: #c82333; 
  border-color: #bd2130;
}

.das-display-container{

  margin-top: 7%;
}




.das-service-display-doc-button{
  background-color: #3558f1; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 12px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get elements to line up properly */
  font-size: 16px; /* Increase font size */
 
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 10px; /* Rounded corners */
  transition-duration: 0.4s; /* Animation duration */
  width: 10%;
}


.das-service-display-doc-button:hover {
  background-color: white; /* White background on hover */
  color: black; /* Black text on hover */
  border: 2px solid #2c87ee; /* Green border on hover */
}


.das-service-display-pdf-button {
  background-color: #af684c; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 12px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get elements to line up properly */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 10px; /* Rounded corners */
  transition-duration: 0.4s; /* Animation duration */
  width: 10%;
}

.das-service-display-pdf-button:hover {
  background-color: white; /* White background on hover */
  color: black; /* Black text on hover */
  border: 2px solid #d16120; /* Green border on hover */
}


.das-report-submit-button {
  background-color: #217feb; /* Customize the background color */

  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
 margin-left: 45%;
}

.das-report-submit-button:hover {
  background-color: #218838;
}

.das-report-submit-button:active {
  background-color: #1e7e34;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.das-report-submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(129, 195, 240, 0.5);
}






/* From the Above css Done by Shravankumar */