
.das-display-header-table{
  background-color: #7fb9f7;
  width:100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.das-report-display-data{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.abstractform-container table {
  width: 80%; /* or any specific width like 600px */
  table-layout: fixed; /* Optional: ensures the table respects the width set */
}
.abstractform-container{
  margin-top: 10%;
}

.das-display-overall-heading{
  padding-top: 20px;
  padding-bottom: 20px;
  color: #080808;
  font-size: 27px;
  background-color: #d16120;
}
.das-display-side-headings{
  padding-top: 5px;
  padding-bottom: 5px;
}











.das-service-display-doc-button{
  background-color: #3558f1; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 12px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get elements to line up properly */
  font-size: 16px; /* Increase font size */
 
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 10px; /* Rounded corners */
  transition-duration: 0.4s; /* Animation duration */
  width: 10%;
}


.das-service-display-doc-button:hover {
  background-color: white; /* White background on hover */
  color: black; /* Black text on hover */
  border: 2px solid #2c87ee; /* Green border on hover */
}


.das-service-display-pdf-button {
  background-color: #af684c; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 12px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get elements to line up properly */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 10px; /* Rounded corners */
  transition-duration: 0.4s; /* Animation duration */
  width: 10%;
}

.das-service-display-pdf-button:hover {
  background-color: white; /* White background on hover */
  color: black; /* Black text on hover */
  border: 2px solid #d16120; /* Green border on hover */
}

.das-display-sub-title-headings{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #aed0f5;
}




