
.das-display-header-table{
  background-color: #7fb9f7;
  width:100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.das-report-display-data{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.abstractform-container table {
  width: 80%; /* or any specific width like 600px */
  table-layout: fixed; /* Optional: ensures the table respects the width set */
  word-wrap: break-word;
}
.abstractform-container{
  margin-top: 10%;
  /* font-weight: 200; */
}

.das-display-overall-heading{
  padding-top: 20px;
  padding-bottom: 20px;
  color: #080808;
  font-size: 27px;
  background-color: #d16120;
}
.das-display-side-headings{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  padding-left: 5px;
}

.das-display-sub-title-headings-1{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #9fc6f3;
}





.das-service-display-edit-button{
  background-color: #b99328; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 12px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get elements to line up properly */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 10px; /* Rounded corners */
  transition-duration: 0.4s; /* Animation duration */
  width: 10%;
}


.das-service-display-edit-button:hover {
  background-color: rgba(255, 255, 255, 0.24); /* White background on hover */
  color: black; /* Black text on hover */
  border: 2px solid #926504; /* Green border on hover */
}




.das-service-display-doc-button{
  background-color: #3558f1; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 12px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get elements to line up properly */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 10px; /* Rounded corners */
  transition-duration: 0.4s; /* Animation duration */
  width: 10%;
}


.das-service-display-doc-button:hover {
  background-color: white; /* White background on hover */
  color: black; /* Black text on hover */
  border: 2px solid #2c87ee; /* Green border on hover */
}


.das-service-display-pdf-button {
  background-color: #af684c; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 12px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get elements to line up properly */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 10px; /* Rounded corners */
  transition-duration: 0.4s; /* Animation duration */
  width: 10%;
}

.das-service-display-pdf-button:hover {
  background-color: white; /* White background on hover */
  color: black; /* Black text on hover */
  border: 2px solid #d16120; /* Green border on hover */
}

.das-display-sub-title-headings{
  padding-top: 5px;
  padding-bottom: 5px;
  /* background-color: #aed0f5; */
  text-align: left;
  padding-left: 5px;
}

.das-display-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Full height of the viewport */
  width: 100vw;
  /* Full width of the viewport */
  position: fixed;
  /* Fix the loader to the viewport */
  top: 0;
  /* Align to the top */
  left: 0;
  /* Align to the left */
  background: rgba(255, 255, 255, 0.8);
  /* Optional: Semi-transparent background */
  z-index: 1000;
  /* Ensure it's on top of other elements */

}
.das-display-loader-container {
  min-height: 100vh;
  margin-top: -25px;
}




