







/*
.header-table{
  background-color: #7fb9f7;
  width:100%;
}
.abstractform-table-1 {

  width: 50%;
  color: #db815d;
  background-color: #db815d;
}

.Abstract-Report {
  width: 50%;
}

.Abstract-Report th, .Abstract-Report td {
  padding: 10px;
}

.Abstract-Report th {
  background-color: #c58c8c;
  text-align: center;
}

.Abstract-Report td {
  text-align: left;
}
.priya {
  width: 50%;
  background-color: #a5d3e6;
}
.abstractform-table {
  text-align: center;
}
.abstractform-table,.abstractform-table-1,.abstractform-table-2,.abstractform-table-3,.abstractform-table-4,.abstractform-table-6,.abstractform-table-7,.abstractform-table-8,
.abstractreport-table-10,.abstractreport-table-11,.abstractreport-table-12,.abstractreport-table-13,.abstractreport-table-9
{
  width:50%;
}
.heading-table{
  background-color: #9ab4cf;
} */




















/*BELOW CSS DONE BY GAYATHRI*/

/* Container styling */
.abstract-report-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align all tables */
  width: 100%; /* Ensure it takes the full width of the parent container */
  margin-top: 10%;
}

.abstract-report-title {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:rgb(230, 99, 11);
  font-size: 25px;
}


.das-report-container-form {
  width: 100%; /* Ensure form takes full width of its container */
  display: flex;
  flex-direction: column;
  
  align-items: stretch; 
}

/* Table styling */
.das-report-container-form table {
  width: 100%; /* Set all tables to 100% of the container's width */
    max-width:1100px; /* Set a maximum width for consistency */
  border-collapse: collapse; /* Ensure borders collapse for consistency */
  margin-bottom: 20px; /* Add some space between tables */
}


/* Header styling */
.das-report-main-table-heading {
  text-align: center;
  background-color: #5ba9f1;
  padding-top: 5px;
  padding-bottom: 5px;
}

.das-report-sub-heading {
  font-size: 18px;
  font-weight: bold;


}

.das-report-sub-heading-1{
  background-color: #99c5ee;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}




.abstract-control-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  color: #161816;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}





.das-report-delete-button {
  background-color: #e74c3c; /* Red background color */
  color: white; /* White text color */
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  font-size: 14px; /* Font size for the text */
  cursor: pointer; /* Pointer cursor on hover */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  display: inline-flex; /* Flex display for proper alignment */
  align-items: center; /* Align icon and text vertically */
  transition: background-color 0.3s ease; /* Smooth transition */


}

.das-report-delete-button:hover {
  background-color: #c0392b; /* Darker red background on hover */
}



.das-report-add-button {
  background-color: #3c6ef8; /* Red background color */
  color: white; /* White text color */
  padding-top:10px;
  padding-bottom:10px;
  padding-left:5px;
  padding-right:5px;

  font-size: 14px; /* Font size for the text */
  cursor: pointer; /* Pointer cursor on hover */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  display: inline-flex; /* Flex display for proper alignment */
  align-items: center; /* Align icon and text vertically */
  transition: background-color 0.3s ease; /* Smooth transition */
  margin-right: 2px;
}



.das-report-add-button:hover {
  background-color: #0c1d4d; /* Darker red background on hover */
}


.das-report-delete-button-table {
  background-color: #e74c3c; /* Red background color */
  color: white; /* White text color */
  padding-top:10px;
  padding-bottom:10px;
  padding-left:5px;
  padding-right:5px;
  font-size: 14px; /* Font size for the text */
  cursor: pointer; /* Pointer cursor on hover */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  display: inline-flex; /* Flex display for proper alignment */
  align-items: center; /* Align icon and text vertically */
  transition: background-color 0.3s ease; /* Smooth transition */

}

.das-report-delete-button-table:hover {
  background-color: #c0392b; /* Darker red background on hover */
}



.das-report-add-button-table {
  background-color: #3c6ef8; /* Red background color */
  color: white; /* White text color */
  padding-top:10px;
  padding-bottom:10px;

  padding-left:5px;
  padding-right:5px;
  font-size: 14px; /* Font size for the text */
  cursor: pointer; /* Pointer cursor on hover */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  display: inline-flex; /* Flex display for proper alignment */
  align-items: center; /* Align icon and text vertically */
  transition: background-color 0.3s ease; /* Smooth transition */

}



.das-report-add-button-table:hover {
  background-color: #0c1d4d; /* Darker red background on hover */
}





.das-report-text-line{
  text-align: center;
  padding-left: 10px;
  margin-right: 10px;
}


.das-report-general-info-save-button {

  font-size: 16px; /* Font size for the text */
  cursor: pointer; /* Pointer cursor on hover */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  display: inline-flex; /* Flex display for proper alignment */
  align-items: center; /* Align icon and text vertically */
  transition: background-color 0.3s ease; /* Smooth transition */
  background-color: #218838;
  margin-right: 3px;
  margin-top: 2px;
}

.das-report-general-info-clear-button {


  font-size: 16px; /* Font size for the text */
  cursor: pointer; /* Pointer cursor on hover */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  display: inline-flex; /* Flex display for proper alignment */
  align-items: center; /* Align icon and text vertically */
  transition: background-color 0.3s ease; /* Smooth transition */
}





.Abstract-report-submit-button {
  background-color: #217feb; /* Customize the background color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
 margin-left: 45%;
}

.Abstract-report-submit-button:hover {
  background-color: #218838;
}

.Abstract-report-submit-button:active {
  background-color: #1e7e34;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.Abstract-report-submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(129, 195, 240, 0.5);
}




















/* Submit button styling */
.das-report-submit-button {
  background-color: #3558f1; /* Button background color */
  border: none; /* Remove borders */
  color: white; /* Button text color */
  padding: 10px 20px; /* Button padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-flex; /* Inline-flex to properly align icon and text */
  align-items: center; /* Center icon and text vertically */
  font-size: 16px; /* Button font size */
  margin: 10px; /* Margin around button */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 5px; /* Rounded corners */
  transition-duration: 0.4s; /* Animation duration */
  width:7%;
  margin-left: 45%;
}


.das-report-submit-button:hover {
  background-color: #218838;
}

.das-report-submit-button:active {
  background-color: #1e7e34;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.das-report-submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(129, 195, 240, 0.5);
}






