/* Styling the services container */
.et-services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  max-height: 100%;
  margin-top: 8%;
  width: 100%;
  flex-direction: column;
  max-width: 100%;
  align-items: stretch;

}
.et-service-input-labels::placeholder {
  font-style: italic;
}

.et-service-form-table-1 {
  max-height: 50%;

}

/* Styling the services form container */
.et-services-form-container {
  width: 100%;
  max-width: 80%;
  padding: 20px;


}
.et-service-side-heading-fields{
  text-align: left;
  padding-left: 5px;
}
/* Styling the main table border */
/* .et-services-main-table-border {
    border: 2px solid black;
  } */


.et-service-form-table-selftables-heading {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(180, 178, 178);

}

.et-service-form-table-sub-selftables-heading {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(212, 210, 210);
  text-align: center;


}

/* Styling the headings */
.et-services-container h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

/* Styling the form tables */
.et-services-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Styling the form table rows */

.et-service-form-table-1-rows td {
  border: 1px solid rgb(27, 25, 25);
}

.et-service-form-table-1-rows th {
  border: 1px solid rgb(0, 0, 0);
}

/* Styling the form table headings */
.et-service-form-table-1-heading {
  text-align: center;

}

/* Styling the form table data */
.et-service-form-table-1-data {
  padding: none;
  max-height: 100%;
  height: 50%;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  
}

/* Styling the form inputs */


.et-service-input-labels {
  width: 100%;
  border-radius: 4px;
  font-size: 18px;
  color: #161816;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  padding-left: 10px;

}

/* Styling for the placeholder text */
.et-service-input-labels::placeholder {
  color: #999;
}

/* Styling for when the input is focused */
.et-service-input-labels:focus {
  border-color: #6f7174;
  box-shadow: 0 0 5px rgba(74, 75, 77, 0.5);
  outline: none;
}


/* Styling the form input types */
.et-services-form-container input[type="date"] {
  width: calc(100% - 20px); /* Adjusting input width to prevent overflow */
}

/* Styling the form input placeholders */
.et-services-form-container ::placeholder {
  color: #999;
}

.et-services-add-button {
  background-color: #2439f1;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-left: 93%;
}

.et-services-add-button:hover {
  background-color: #003f7f;
  /* Color when the button is clicked */
}

.et-services-delete-button {
  background-color: #dc3545;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: right;
  transition: background-color 0.3s ease;
  margin-left: 93%;
}

.et-services-delete-button:hover {
  background-color: #c82333;
}

.et-services-delete-button:active {
  background-color: #bd2130;
  /* Change this to the color you want when the button is clicked */
}

.et-service-form-submit-button {
  background-color: #217feb;
  /* Customize the background color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-left: 45%;
}

.et-service-form-submit-button:hover {
  background-color: #218838;
}

.et-service-form-submit-button:active {
  background-color: #1e7e34;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.et-service-form-submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(129, 195, 240, 0.5);
}


/* Styling the headings */
.et-services-container h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

/* Styling the form tables */
.et-services-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}


.et-service-form-table-1-rows td {
  border: 1px solid rgb(27, 25, 25);
}

.et-service-form-table-1-rows th {
  border: 1px solid rgb(0, 0, 0);
}

/* -----------Styling the form table headings----- */
.et-service-form-table-1-heading {
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
}

/* ----------Styling the form table data----------- */
.et-service-form-table-1-data {
  padding: none;
  max-height: 100%;
  height: 50%;
}

/*----------- Styling the form inputs----------- */


.et-service-input-labels {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  color: #161816;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

.et-service-input-labels::placeholder {
  color: #999;
}


.et-service-input-labels:focus {
  border-color: #6f7174;
  box-shadow: 0 0 5px rgba(74, 75, 77, 0.5);
  outline: none;
}


.et-services-form-container input[type="date"] {
  width: calc(100% - 20px);
}

.et-services-form-container ::placeholder {
  color: #999;
}

.et-services-add-button {
  background-color: #2439f1;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-left: 93%;
}

.et-services-add-button:hover {
  background-color: #003f7f;
 
}

.et-services-delete-button {
  background-color: #f34455;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: right;
  transition: background-color 0.3s ease;
  /* margin-left: 93%; */
}

.et-services-delete-button:hover {
  background-color: #c82333;
}

.et-services-delete-button:active {
  background-color: #bd2130;
 
}

.et-service-form-submit-button {
  background-color: #217feb;

  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-left: 45%;
}

.et-service-form-submit-button:hover {
  background-color: #218838;
}

.et-service-form-submit-button:active {
  background-color: #1e7e34;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.et-service-form-submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(129, 195, 240, 0.5);
}






/* ------------------save, clear------------------*/
.et-service-genenal-info-save-button {
  background-color: #35bb54;
  border-color: #28a745;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
  margin-right: 10px;
padding-left: 5px;
}

.et-service-genenal-info-save-button:hover {
  background-color: #218838;
  border-color: #1e7e34;
}


.et-service-genenal-info-clear-button {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
  padding-left: 5px;
}

.et-service-genenal-info-clear-button:hover {
  background-color: #c82333;
  border-color: #bd2130;
}


/*-----------------------------delete,add---------------*/

.et-service-genenal-info-delete-button {
  background-color: #f7815d;
  border:none;
  color: white;
  font-size:18px;
  border-radius: 5px;
  
  transition: background-color 0.3s, border-color 0.3s;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 10px;
  
 

}
.et-service-genenal-info-delete-button:hover {
  background-color: #ec5537; /* Adjust the color as needed */
}



.et-service-genenal-info-add-button {
  background-color: #52c2f7;
  border:none;
  color: white;
  font-size: 18px;

  border-radius: 5px;
  background-color: #0fa9eb;
  transition: background-color 0.3s border-color 0.3s;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 10px;
}
.et-service-genenal-info-add-button:hover {
  background-color: #37b9ec; /* Adjust the color as needed */
}


/* Common button styles */
.p-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.p-button .pi {
  margin-right: 0.5em;
}
