/* Container styling */
.address-search-container {
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

  



/* Heading styling */
.address-search-heading {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
  text-align: center;
}

/* Form styling */
.address-search-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  align-items: center;
}

/* Input wrapper styling */
.address-search-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.address-search-icon {
  position: absolute;
  left: 10px;
  color: #aaa;
 padding-bottom: 13px;
}

.address-search-input {
  width: 100%;
  padding: 10px 10px 10px 30px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.address-search-input:focus {
  border-color: #007ad9;
  outline: none;
}

/* Suggestions dropdown styling */
.address-search-suggestions {
  margin-bottom: 20px;
}

.address-search-suggestions-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Submit button styling */
.address-search-submit-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #007ad9;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.address-search-submit-button:hover {
  background-color: #005bb5;
}

.address-search-submit-button:active {
  background-color: #004a99;
}

/* Result display styling */
.address-search-result {
  margin-top: 20px;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.address-search-result p {
  margin: 0;
  color: #333;
}
